/* window*/
body {
    width: 500px;
    height: 300px;
}

/* Modal-Content */
.lien button {
    background-color: #2A9D8F;
    color: white;
    width: 150px;
    height: 34px;
    border-radius: 50px;
    border: none;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.banner {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.text {
    text-align: center;
    margin: 20px;
    font-size: 18px;
}

