body {
    width: 300px;
    height: auto;
    border: 1px black solid;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.lien button {
    background-color: #2A9D8F;
    color: white;
    width: 150px;
    height: 34px;
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
}

.pourcentage {
    padding-bottom: 10px;
    width: 75px;
    height: 28px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    visibility: hidden;
}

.btnEnSavoirPlus {
    background-color: #264653;
    color: white;
    margin-bottom: 10px;
}

.btnSignaler {
    background-color: #E9C46A;
    color: black;
    margin-bottom: 10px;
}
.low{
    background-color: #E76F51;
}

.medium{
    background-color: #E9C46A;
}

.high{
    background-color: #2A9D8F;
}

.button {
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.justifier {
    text-align: justify;
    text-justify: inter-word;
}