body {
    width: 200px;
    height: auto;
    border-radius: 48px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.btnExit {
    display: block;
    width: 30px;
    height: 30px;
    background: url(exit.svg) 0 0 no-repeat;
    text-indent: -999em;
}